.container_error{
    max-width: 500px;
    margin: 60px auto;
    background-color: var(--background-color-secondary);
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 20px 20px 5px black;
}
h2{
    margin: 0;
}

hr{
    width: 100%;
    color: var(--element-color);
    border: 1px solid;
}

@media screen and (max-width: 500px) {
    .container_error{
        width: 90vw;
        overflow: none;
    }
}