<div class="container_nav-bar">
    <div class="title">Shortify</div>
    <div class="container_links">
        <ul class="sections">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/links">My links</a></li>
            <!-- <li><a routerLink="/Analytics">Analytics</a></li> -->
            <!-- <li><a routerLink="/contact">Contact</a></li> -->
        </ul>
        <div class="login">
            <app-loggin-button></app-loggin-button>
        </div>
    </div>
</div>