.title {
    margin: auto;
    margin-top: 40px;
    border: 2px solid;
    border-radius: 10px;
    background-color: var(--background-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    box-sizing: border-box;
    padding: 15px 25px;
    font-size: 30px;
    box-shadow: 1px 20px 20px 5px black;
}

h1 {
    margin: 0;

}

header {
    height: 10vh;
}

section {
    height: 350px;
    position: relative;
    /* border: 1px solid ; */
    box-sizing: border-box;
}

span {

    display: none;
    font-size: 50px;
    margin: auto;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    animation: moveHand 2s linear infinite;
}

@keyframes moveHand {
    0% {
        transform: translate(-50%, 0);
    }
    25% {
        transform: translate(-50%, -30%);
    }

    50% {
        transform: translate(-50%, 0);
    }

    75% {
        transform: translate(-50%, 30%);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

footer{
    padding-top: 100px ;
    padding-bottom: 50px ;
    text-align: center;
    font-size: 30px;
}

footer img{
    width: 30px;
}