<header>
  <app-nav-bar></app-nav-bar>
</header>
<main>
<section>
    <div class="title">
      <h1>{{title}}</h1>
    </div>
    @if (isRegisterUserActived) {
    <app-register-user />
    }
    <app-form-url (fetchEvent)="fetchDataRefresh($event)" (errorEvent)="errorFetch($event)"></app-form-url>
    @if (fetchData != "") {
    <app-output-url [shortUrl]="fetchData"></app-output-url>
    }
    @else if (errorConnection) {
    <app-error></app-error>
    }
</section>

  <router-outlet></router-outlet>
</main>

<footer>
  Made with love <img src="Heart.png" alt="heart"> by <a href="https://portafolio-frankxhunter.vercel.app/" target="_blank">Frank</a>
</footer>