.container_nav-bar{
    background-color: var(--background-color-secondary);
    height: 50px;
    margin: 0;
    box-sizing: border-box;
    border-bottom: 1px solid;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 1px 5px 20px 3px black;

}

.title{
    font-size: 35px;
}
.container_links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections{
    display: flex;
    flex-direction: row;
    gap: 17px;
    font-size: 18px;
    justify-content: space-between;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style-type: none;
}
a:hover{
    text-decoration: underline;

}