<section class="form-section" >
    <form id="form" class="form"  (ngSubmit)="fetchData()" [formGroup]="urlForm" id="urlForm">  
        <input 
        type="text" 
        class="inputUrl"
        id="inputUrl" 
        placeholder="Enter the URL you want shorten" 
        [(ngModel)]="urlValue" required 
        autocomplete="off"
        formControlName="url"
        [ngClass]="{'is_invalid': hasErrors('url', 'required') || hasErrors('url', 'pattern')}"
        >
        <button type="submit" class="btnSend">Shorter</button>
    </form>
</section>