/* You can add global styles to this file, and also import other style files */
:root{
    --backgroun-color: #361711;
    --backgroun-color-secondary: #53241b;
    --element-color:#f4c228;
}
body{
    background-color: var(--backgroun-color);
}
*{
    color: var(--element-color);
    box-sizing: border-box;
}