/* You can add global styles to this file, and also import other style files */
:root{
    --background-color: #361711;
    --background-color-secondary: #53241b;
    --element-color:#f4c228;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: var(--element-color);
    box-sizing: border-box;
}
h3, p{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
