.container_url_shortened{
    background-color: var(--background-color-secondary);
    display: grid;
    
    grid-template-rows: 1fr 1fr ;
    border: 2px dashed;
    border-radius: 10px;
    margin: auto ;
    margin-top: 40px;
    max-width: 500px;
    padding: 15px;
    font-size: 20px;
    gap: 10px;
    animation: appear 1s linear; 
    position: relative;   
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(30%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        
    }
}

.container_text{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}
.container_label{
    font-size: 30px;
}
.url{
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    width: 100%;
    overflow: hidden;
    gap: 4px;
    position: relative;

}
.url span{
    color: black;
}
.btn_copy{
    min-width: 85px;
    background: var(--element-color);
    color: var(--background-color);
    border: 1px solid var(--element-color);
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 20px;
    text-align: center;


}
.btn_copy span{
    color: var(--background-color) !important;

}
.btn_copy:hover{
    filter: brightness(0.7);
}

.url, .btn_copy{
    padding: 4px 12px;
    border-radius: 10px;
}
.text_copied{
    position: absolute;
    background-color: gray;
    top: 7px;
    right: 21px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    animation: appearAndDisappear 2s linear;

}

@keyframes appearAndDisappear {
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    20%{
        transform: translateY(0px);
        opacity: 1;
    }
    80%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(10px);
        opacity: 0;
    }
}

@media screen and (max-width: 500px) {

    .container_url_shortened{
        max-width: 90%;
    }
    
}